﻿@model List<dotNetProject.Models.Account>

@{
    ViewBag.Title = "Admin Panel";
}

<div class="table-responsive">
    <table class="table table-striped table-bordred">
        <tr>
            <th class="col-2">Id</th>
            <th>Username</th>
            <th class="col-2">Role</th>
            <th></th>
        </tr>
        @foreach (var acc in Model)
        {
            <tr>
                <td class="col-2">@acc.Id</td>
                <td>@acc.Username</td>
                <td class="col-2">@acc.Role</td>
                <td>
                    @using (Html.BeginForm("ChangeRole", "Admin", new { id = acc.Id }, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <input type="submit" value="Change Role" class="btn btn-default" />
                    }
                </td>
            </tr>
        }
    </table>
</div>