﻿@model dotNetProject.Models.PostViewModel

@using (Html.BeginForm("Add", "Posts")) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-11">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
