﻿@model List<dotNetProject.Models.Post>

@{
    ViewBag.Title = "Posts";
}

<div class="table-responsive">
    <table class="table table-striped table-bordred">
        <tr>
            <th>Content</th>
            <th>Author</th>
            @if (User.IsInRole("Admin"))
            {
                <th>Delete</th>
            }
        </tr>
        @foreach (var post in Model)
        {
            <tr>
                <td>@post.Content</td>
                <td class="col-2">@post.Author</td>
                @if (User.IsInRole("Admin"))
                {
                    <td><a href="@Url.Action("Delete", new { id = @post.Id })" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></a></td>
                }
            </tr>
        }
    </table>

    @if (User.Identity.IsAuthenticated)
    {
        Html.RenderPartial("AddPostPartial", new dotNetProject.Models.PostViewModel());
    }
</div>